:root {
  --main-text-color: #272142;
  --ligth-text-color: #ffffff;
  --accent-dark-color: #662eed;
  --accent-light-color: #f65282;
  --brand-font: "Nunito", sans-serif;
}

body {
  font-family: var(--brand-font);
}

.logo {
  max-width: 150px;
}

.nav {
  font-weight: 700;
}

.active-link {
  color: var(--accent-dark-color);
}

.banner {
  padding: 45px 0;
  color: var(--ligth-text-color);
  background-image: url(../img/overlay.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  font-size: 72px;
  font-weight: 700;
}

.title-2 {
  font-size: 64px;
  line-height: 1.4;
  font-weight: 700;
}

.title-about {
  margin-bottom: 126px;
}

.favorite-title {
  font-size: 36px;
  font-weight: 700;
  margin-top: 100px;
}

.favorite {
  margin-bottom: 100px;
}

.description {
  font-size: 18px;
  line-height: 1.6;
}

.banner-title {
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
}

.banner-desc {
  font-size: 24px;
  line-height: 1.4;
  font-weight: 700;
}

.recipes {
  padding-top: 100px;
  padding-bottom: 100px;
}

.recipe-title {
  font-weight: 700;
}

.favorite-recipe-title {
  font-size: 24px;
  font-weight: 700;
}

.favorite-recipe {
  max-width: 360px;
}

.social-links {
  list-style: none;
  padding-left: 0;
}

.fa-brands {
  font-size: 18px;
  color: var(--main-text-color);
}

.footer {
  background: #f9f7fe;
}

@media (max-width: 767px) {
  .banner {
    padding-right: 10px;
    padding-left: 10px;
  }
  .banner-title,
  .title {
    font-size: 48px;
  }

  .title-about {
    margin-bottom: 50px;
  }

  .banner-desc {
    font-size: 18px;
  }

  .recipes {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .logo-f {
    padding-bottom: 20px;
  }
}

@media (max-width: 991px) {
  .recipe-card:nth-child(2n + 1) {
    margin-bottom: 50px;
  }

  .title-2 {
    font-size: 42px;
  }

  .favorite-title {
    margin-top: 50px;
  }
}
